<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<title>Gobierno de la Ciudad</title>
	<link rel="shortcut icon" href="http://www.buenosaires.gob.ar/sites/gcaba/files/favicon.png" type="image/png">
	<link href="/css/terminal.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oswald|Roboto|Roboto+Condensed|Ubuntu" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/terminal.js"></script>
</head>
<body>
	<div class="container">
	
    	{{#block "contenido"}}
		{{/block}}
	
	</div>
</body>
</html>